@(penTypes: List[String])

    @main("New") {
        <h1>Add a New Pen</h1>
        <form action="">
            <div>
                <label for="animalName">Name:</label>
                <input type="text" animalName="pen_name">
            </div>
            <div>
                <label for="pen-type">Type:</label>
                <select animalName="pen_type">
                @for(p <- penTypes) {
                    <option value="@p">@p</option>
                }
                </select>
            </div>
            <div>
                <label for="land-area">Land Area:</label>
                <input type="number" animalName="pen_land_area">
            </div>
            <div>
                <label for="water-area">Water Area:</label>
                <input type="number" animalName="pen_water_area">
            </div>
            <div>
                <label for="air-area">Air Area:</label>
                <input type="number" animalName="pen_air_area">
            </div>
            <input type="submit">
        </form>
    }