@(pens: List[Pen])

@main("Pens") {
    <h2>Pens</h2>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Name</th>
                <th scope="col">Land Area(m2)</th>
                <th scope="col">Water Area(m2)</th>
                <th scope="col">Air Area(m2)</th>
                <th scope="col">Temperature(°C)</th>
                <th scope="col">Animals</th>
                <th scope="col">Keeper</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for(p <- pens) {
                <tr>
                    <td>@p.penType</td>
                    <td>@p.penName</td>
                    <td>@p.landArea</td>
                    <td>@p.waterArea</td>
                    <td>@p.airArea</td>
                    <td>@p.temperature</td>
                    <td>@p.animals.size</td>
                    @if(p.keeper == null) {
                        <td class="text-danger">No Keeper Assigned</td>
                    } else {
                        <td>@p.keeper</td>
                    }
                    <td>
                        <a href="@routes.PenController.edit(p.id)">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center container">
        <a class="btn btn-lg btn-primary text-center col-sm-2" href="/pen/new">Add</a>
    </div>
}