@(penTypes: List[String])

    @main("New") {
        <h1>Add a New Keeper</h1>
        @helper.form(action = routes.KeeperController.create()) {
            @helper.CSRF.formField
            <div>
                <label for="keeper_name">Name:</label>
                <input type="text" name="keeper_name">
            </div>
            <div>
                <label for="keeper_pen_type">Pen Type:</label>
                <select name="keeper_pen_type">
                @for(p <- penTypes) {
                    <option value="@p">@p</option>
                }
                </select>
            </div>
            <input type="submit">
        }
    }