@(keepers: List[Keeper])

@main("Keepers") {
    <h2>Keepers</h2>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Pen Type</th>
                <th scope="col">Pens</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for(k <- keepers) {
                <tr>
                    <td>@k.keeperName</td>
                    <td>@k.penType</td>
                    @if(k.pens.isEmpty) {
                        <td class="text-danger">No pens assigned</td>
                    } else {
                        <td>@k.pens.mkString(", ")</td>
                    }
                    <td>
                        <a href="@routes.KeeperController.edit(k.id)">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center container">
        <a href="/keeper/new" class="btn btn-lg btn-primary text-center col-sm-2">Add</a>
    </div>
}