@(species: List[Species])

@main("New") {
    <h2 class="col-12 text-center">Register a New Animal</h2>
    @helper.form(action = routes.AnimalController.create()) {
        @helper.CSRF.formField
        <div class="form-group row justify-content-center">
            <input class="form-control col-4" type="text" name="animal_name" placeholder="Name">
        </div>
        <div class="form-group row justify-content-center">
            <select class="form-control col-4" name="animal_species">
                <option>Species...</option>
                @for(s <- species) {
                    <option value="@s.id">@s.speciesName</option>
                }
            </select>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-lg btn-info text-center col-2" type="submit">Add</button>
        </div>
    }
}